@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

div.container{
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header{
  background-color: #292929;
  min-height: 40px;
  width: 100%;
}

nav{
  display: flex;
  min-height: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 8px 15px;
}

nav > img, footer > img{
  width: 250px;
}

nav div.header-anchors{
  display: flex;
  gap: 30px;
}

nav a, footer a{
  font-size: 18px;
  color: white;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: black;
  transition: 0.4s;
}

/* main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 20px 50px;
  flex-wrap: wrap;
} */

section.headline{
  padding-top: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

section.headline > h2 {
  font-size: 26px;
}

section.headline > p {
  color: #383838;
}

div.content{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "sports sidebar";
  padding: 20px;
  flex: 1 0 auto;
}

section.sports{
  grid-area: sports;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

a.item{
  width: 280px;
  height: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  padding: 6px;
}

a.item:hover{
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.2s;
}


section.sports img{
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

section.sports > p{
  padding: 6px;
}

p.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

aside{
  grid-area: sidebar;
  background-color: #292929;
  color: white;

  min-width: 300px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

a.aside-item{
  display: flex;
  flex-direction: column;
  width: 75%;
  /* height: 20vh; */
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
}

a.aside-item:hover{
  border: 1px solid gainsboro;
  border-radius: 10px;
  transition: 0.2s;
}

aside > p.title{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0px;
}

aside img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

p.aside{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}

footer{
    min-height: 40px;
    width: 100%;
    background-color: #292929;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

footer > a{
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 1430px){
  a.aside-item{
    height: 200px;
  }
}

@media (max-width: 1200px){
  a.aside-item{
    height: 350px;
  }
}

@media (max-width: 910px){
  a.aside-item{
    height: auto;
  }
  div.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  aside{
    min-width: auto;
  }
}

@media (max-width: 535px){
  nav{
    display: flex;
    min-height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media (max-width: 490px){
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media (max-width: 334px){
  nav > img, footer > img{
    width: 100%;
  }

  a.item{
    width: 100%;
  }
}
